<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <nav align=right>
            <a href="/index"> Main </a> |
            <a href="/blog"> Blogz </a> |
            <a href="/newpost"> Add Blog Entry </a> |
            <a href="/login"> Login </a> |
            <a href="/logout"> Logout </a> |
            <a href="/signup"> Create New Account </a>
        </nav>

        {% block content %}
        {% endblock %}

    </body>
</html>