{% extends "base.html" %} 
{% block content %}

<!-- This displays all posts  -->

<h1><center> {{title}} </h1></center>

{% if listings|length == 0 %}
<p> No entries found </p>
{% else %}
    <ul>
        {% for listing in listings %}
        <li><h2><a href="/blog?id={{listing.id}}"> {{listing.title}} </a></h2>
            <p> {{listing.body}} </p>
            <em>Written by: <a href="/blog?user={{listing.owner_id}}">{{listing.owner.username}}</a></em>
            <br>
        </li>
        {% endfor %}
        </ul>

    {% endif %}
{% endblock %}