{% extends "base.html" %} 
{% block content %}

<center><h1>Login to Blogz!</h1>
<p>If you don't have an account, you may <strong>sign up</strong> for one <a href="signup">here</a></p>
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="username"> Username </label></td>
            <td><input name="username" style="width: 200px; height: 20px" type="text" value="{{username}}" />
                <span class="error"> {{name_error}} </span></td>
        </tr>
        <tr>
            <td><label for="password"> Password </label></td>
            <td><input name="password" style="width: 200px; height: 20px" type="password" />
                <span class="error"> {{pw_error}} </span></td>
        </tr>
    </table>
    <input type="submit" value="Login" /></center>
</form>

{% endblock %}